<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>172643630883-bv1u26ldt3t9940uig1l52oj21jo6e7b.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.172643630883-bv1u26ldt3t9940uig1l52oj21jo6e7b</string>
	<key>API_KEY</key>
	<string>AIzaSyB6YkIHhG1KQXn_83S-UxtnSqjA7YAm2l8</string>
	<key>GCM_SENDER_ID</key>
	<string>172643630883</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Swift.FierBase-Kurulum</string>
	<key>PROJECT_ID</key>
	<string>egitim-d6483</string>
	<key>STORAGE_BUCKET</key>
	<string>egitim-d6483.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:172643630883:ios:d2e452c0f1477625af5696</string>
</dict>
</plist>